html {
  margin: 0;
  background-color: black; 
  font-family: 'Poppins', sans-serif;
  letter-spacing: 2.5px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
